<div class="wp-block-group {{classes}}">
    {{#section_id}}<a id="{{section_id}}"></a>{{/section_id}}
    {{#title}}<h1 class="wp-block-heading section-heading">{{title}}</h1>{{/title}}

    {{#has_inner_container}}<div class="inner-container">{{/has_inner_container}}

    <div id="{{section_id}}_map" class="leaflet-map" style="height: {{map_height}};" data-party-map="{{map_json}}"></div>

    {{#has_inner_container}}</div>{{/has_inner_container}}
</div>
