<div class="wp-block-group {{classes}}">
    {{#layers}}
        <div class="{{position}}">
            {{#svgs}}
                <img src="{{file}}" class="absolute {{position}} svg {{animation}}" alt="{{animation}}">
            {{/svgs}}
        </div>
    {{/layers}}
</div>
