<div class="wp-block-group {{classes}}">
  {{#section_id}}<a id="{{section_id}}"></a>{{/section_id}}
  {{#title}}<h1 class="wp-block-heading section-heading">{{title}}</h1>{{/title}}

  {{#has_inner_container}}<div class="inner-container">{{/has_inner_container}}
  <div class="vertical-slider" style="height: {{height}};" data-party-vertical-slider>
    {{#items}}
      <div class="vertical-slide vertical-slide--{{slug}}">{{{html}}}</div>
    {{/items}}
  </div>
  {{#has_inner_container}}</div>{{/has_inner_container}}
</div>
