<div class="support-block" data-component="supportblock">
  <h2>{{ title }}</h2>
  <div class="support-options">
    {{#options}}
    <a href="{{ action }}" class="support-option">
      <span class="icon">{{ icon }}</span>
      <span class="label">{{ label }}</span>
    </a>
    {{/options}}
  </div>
</div>