<div class="wp-block-group {{classes}}">
    {{#section_id}}<a id="{{section_id}}"></a>{{/section_id}}

    {{#title}}<h1 class="wp-block-heading section-heading">{{title}}</h1>{{/title}}

    {{#description}}
        <p class="wp-block-paragraph">{{description}}</p>
    {{/description}}

    {{#has_inner_container}}<div class="inner-container">{{/has_inner_container}}

    <div class="viewbox-stack-container viewbox-info-{{info_position}}">
        {{#images}}
            <input type="radio" name="viewbox-{{section_id}}" id="{{input_id}}" class="viewbox-radio" {{#checked}}checked{{/checked}}>
        {{/images}}

        <div class="image-stack">
            {{#images}}
                <div class="stack-item stack-item-{{index}}" style="{{style}}">
                    <label for="{{input_id}}">
                        <img src="{{file}}" class="stack-image" alt="{{title}}">
                    </label>
                </div>
            {{/images}}
        </div>

        <div class="info-block">
            {{#images}}
                <div class="info-item-{{index}}">
                    <h3>{{title}}</h3>
                    {{#lines}}<p>{{.}}</p>{{/lines}}
                </div>
            {{/images}}
        </div>
    </div>

    {{#has_inner_container}}</div>{{/has_inner_container}}
</div>
