<div class="wp-block-group party-svg-scene {{classes}}{{#hide_mobile}} party-hide-mobile{{/hide_mobile}}" style="height: {{height}};">
    {{#layers}}
        <div class="party-svg-layer {{position}}">
            {{#svgs}}
                <img src="{{file}}" class="absolute {{position}} svg {{animation}}" alt="" loading="lazy">
            {{/svgs}}
        </div>
    {{/layers}}
</div>
