<div class="wp-block-group art {{classes}}">
    <h1 class="wp-block-heading">{{title}}</h1>
    <br><br>
    <a id="{{section_id}}"></a>

    {{#artworks}}
        <img src="{{image}}" class="{{classes}}" alt="{{description}}">
    {{/artworks}}
</div>
