<div class="wp-block-group {{classes}}">
    {{#section_id}}<a id="{{section_id}}"></a>{{/section_id}}

    {{#title}}<h1 class="wp-block-heading section-heading">{{title}}</h1>{{/title}}

    {{#desktop_image}}
        <img src="{{desktop_image}}" class="section-image{{#mobile_image}} desktop-image-1000{{/mobile_image}}" alt="{{title}}">
    {{/desktop_image}}
    {{#mobile_image}}
        <img src="{{mobile_image}}" class="section-image mobile-image-1000" alt="{{title}}">
    {{/mobile_image}}

    {{#has_inner_container}}<div class="inner-container">{{/has_inner_container}}

    <div class="split-container{{#split_hover_border}} split-hover-border{{/split_hover_border}}">
        <div class="split-left">
            {{#left_is_leaflet}}
                <div class="leaflet-map" style="height: {{left_map_height}};" data-party-map="{{left_map_json}}"></div>
            {{/left_is_leaflet}}
            {{#left_is_image}}
                {{#left_image}}<img src="{{left_image}}" class="split-image" alt="{{title}}">{{/left_image}}
            {{/left_is_image}}
            {{#left_is_markdown}}
                <div class="markdown-content">{{{left_html_content}}}</div>
            {{/left_is_markdown}}
        </div>

        <div class="split-right">
            {{#right_is_leaflet}}
                <div class="leaflet-map" style="height: {{right_map_height}};" data-party-map="{{right_map_json}}"></div>
            {{/right_is_leaflet}}
            {{#right_is_image}}
                {{#right_image}}<img src="{{right_image}}" class="split-image" alt="{{title}}">{{/right_image}}
            {{/right_is_image}}
            {{#right_is_markdown}}
                <div class="markdown-content">{{{right_html_content}}}</div>
            {{/right_is_markdown}}
        </div>
    </div>

    {{#has_inner_container}}</div>{{/has_inner_container}}
</div>
