<div class="statement-block" data-component="statementblock">
  <h2>{{ title }}</h2>
  <div class="statements">
    {{#statements}}
    <div class="statement">
      <h3>{{ title }}</h3>
      <p>{{ text }}</p>
    </div>
    {{/statements}}
  </div>
</div>