<div class="documents-block">
  <h3>Documents &amp; Downloads</h3>
  <ul>
    {{#documents}}
    <li><a href="{{ url }}" target="_blank">{{ title }}</a> <span class="meta">{{ type }}</span></li>
    {{/documents}}
  </ul>
</div>